body {
}

.font {
    font-family: 'Cabin', sans-serif !important;
}

.container-background {
    margin: 0 auto;
    width: 70vw;
}

.banner-container {
    justify-content: center;
    display: flex;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    width: 70vw;
    justify-content: space-evenly;
    place-items: center;
    padding-top: 20px;
}

.top-menu-cart {
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    color: #e74444;
}

.top-menu-favorites {
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    color: #e74444;
}

.top-menu-logo {
    color: #594AE2;
}

.top-menu-search {
}

.top-menu-search-box {
    border-color: #e74444;
    background-color: black;
    border-style: solid;
    border-radius: 8px;
    width: 35vw;
    height: 4vh;
    font-size: 20px;
    padding: 10px;
    color: #e74444;
}

.restaurants-container {
    display: grid;
    grid-gap: 5vh;
    padding: 20px;
    grid-template-columns: auto;
    justify-items: center;
}

.restaurant-banner {
    width: 80%;
    height: 30vh;
    cursor: pointer;
    border-color: #e53333;
    border-style: solid;
    border-radius: 5px;
}

.restaurant-banner-photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.restaurant-text {
    font-size: 30px;
    color: white;
    padding-left: 15px;
    display: block;
    height: 17%;
    background-color: rgba(229, 51, 51, 1);
}

.menu-container {
}

.menu-category-header {
    padding-top: 5vh;
}

.menu-items-container-background {
    margin: 0 auto;
    width: 70vw;
}

.menu-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2vh;
    padding-top: 15px;
    padding-bottom: 15px;
}

.item-card-price {
    padding-top: 8px;
    grid-column: 5/5;
}

.favorites-container {
}
