@page "/admin-login"

@using Orderino.Repository;
@using Orderino.Repository.Models;

@inject Repository<LoginInfo> loginInfoRepository
@inject NavigationManager navigationManager


<section class="gradient-custom" style="height: 70vh">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="background-color: rgba(0, 0, 0, 0); border-width: 0px !important;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <div style="padding-bottom: 50px;">
                                <a>
                                    <img src="@logoPath" width="100px">
                                </a>
                                <h2 class="fw-bold mb-2 font" style="color: #e74444; font-size: 60px; display: inline-flex; vertical-align: middle; padding-left: 15px;">Orderino</h2>
                            </div>

                            <p class="mb-5" style="color:white;">Manage your restaurants!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="email" class="form-control form-control-lg" placeholder="Email" @bind="username" style="border-color: #e74444; background-color: black; border-style: solid; border-radius: 8px; font-size: 20px; padding: 10px; color: #e74444;" />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" class="form-control form-control-lg" placeholder="Password" @bind="password" style="border-color: #e74444; background-color: black; border-style: solid; border-radius: 8px; font-size: 20px; padding: 10px; color: #e74444;" />
                            </div>

                            <p class="small mb-5 pb-lg-2"><a href="#!" style="color: white !important;">Forgot password?</a></p>

                            <button class="btn btn-outline-light btn-lg px-5" type="submit" @onclick="Authenticate" style="color: #e74444; border-color: #e74444; font-weight: bold; border-width: 2px;">Login</button>

                        </div>
                        <div>
                            <p class="mb-0">Don't have an account? <a href="#!" class="fw-bold" style="color:#e74444;">Get in touch</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

    private string logoPath = "assets/OrderinoLogo.png";

    private string username;
    private string password;

    private async Task Authenticate()
    {
        if(string.IsNullOrWhiteSpace(username) || string.IsNullOrWhiteSpace(password))
            return;

        LoginInfo loginInfo = await loginInfoRepository.QueryItemAsync(username);

        if (loginInfo == null)
            return;

        if (loginInfo.Password != password)
            return;

        loginInfo.Token = Guid.NewGuid().ToString();
        loginInfo.TokenExpiration = DateTime.UtcNow.AddDays(1);

        await loginInfoRepository.Update(loginInfo);
        navigationManager.NavigateTo($"/admin-restaurants/{loginInfo.Token}");
    }
}
