@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<MudThemeProvider />

@if (!showAdminNavMenu)
{
    <div>
        <NavMenu />
    </div>
}
else
{
    <div>
        <AdminNavMenu />
    </div>
}

<div class="main">
    <div class="content" style="background-color: #d6ddff;">
        @Body
    </div>
</div>


@code {

    private bool showAdminNavMenu;

    protected override void OnInitialized()
    {
        string uri = navigationManager.Uri.ToString();
        showAdminNavMenu = uri.Contains("restaurant-management") ||
                           uri.Contains("admin-login") ||
                           uri.Contains("admin-restaurants");
    }

}