<div class="banner-container">
    <div class="banner">
        <div style="display:inline-flex;">
            <img src="@logoPath" style="width:60px;">

            <NavLink class="nav-link top-menu-logo font" style="font-size: 30px; font-weight: 600; color: #e74444;">
                Orderino
            </NavLink>
        </div>
    </div>
</div>


@code {

    private string logoPath = "assets/OrderinoLogo.png";

}
